

    <br/>
    <h2>Список объявлений</h2>
    <br/>
    <% @post.each do |post|%>
        
        <%= render partial: "post", locals: {post: post}%>
      
        <p> 
            <%= link_to 'Show post', post_path(post), :target => "_blank"%> &nbsp;
          <% if can? :update, post %>
            <%= link_to 'Edit post', edit_post_path(post)%> &nbsp;
            <%= link_to 'Delete post', post_path(post), method: :delete, data: { confirm: 'Are you sure?', remote: true} %> 
          <%end%>  
       </p>

        <hr>
    <%end%>

